#alert {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#loginScreen {
    margin-top: 200px;
}

#lobby {
    display: none;
}